<nav class="navbar navbar-vertical navbar-expand-xl navbar-light navbar-glass">
    <a class="navbar-brand text-left" href="@Url.Content("~/")">
        <div class="d-flex align-items-center py-3" style="font-size:25px;padding-top:10px!important;padding-bottom:10px!important;color:#ab5188;">
            <img class="mr-2" src="@Url.Content("~/assets/images/logo.png")" style="width:100%;" alt="" width="40">
        </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <ul class="navbar-nav flex-column">
            <li class="nav-item" id="liDashboard">
                <a class="nav-link" href="@Url.Content("~/home/index")">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon">
                            <svg height="22px" style="enable-background:new 0 0 28 29;" version="1.1" viewBox="0 0 512 512" width="22px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x33_66_x2C__analytics_x2C__processing_x2C__dashboard_x2C__data_x2C__stats"><g>
                            <path fill="currentColor" d="M382.793,142.771h-8.834v65.588h8.834V142.771z M342.199,105.811h-8.834    v102.548h8.834V105.811z M301.605,120.719h-8.833v87.64h8.833V120.719z M261.012,160.938h-8.833v47.421h8.833V160.938z     M220.417,105.811h-8.832v102.548h8.832V105.811z M179.825,142.771h-8.833v65.588h8.833V142.771z M139.262,167.797h-8.863v40.562    h8.863V167.797z M445.687,64.025v217.971c0,2.1-1.723,3.822-3.819,3.822H71.356c-2.13,0-3.854-1.723-3.854-3.822V64.025    c0-2.129,1.723-3.852,3.854-3.852h370.511C443.964,60.174,445.687,61.896,445.687,64.025z M456.056,50.025    c-3.478-3.508-8.302-5.67-13.626-5.67H71.637c-5.199,0-9.96,2.1-13.436,5.45l-0.189,0.22c-3.477,3.477-5.668,8.301-5.668,13.594    v267.021c0,5.293,2.191,10.116,5.668,13.625c3.509,3.477,8.333,5.639,13.625,5.639H442.43c5.324,0,10.148-2.162,13.626-5.639    c3.508-3.509,5.668-8.332,5.668-13.625V63.619C461.724,58.326,459.563,53.502,456.056,50.025z M370.105,135.064h16.539    c2.131,0,3.854,1.723,3.854,3.854v73.293c0,2.099-1.723,3.853-3.854,3.853h-16.539c-2.128,0-3.852-1.754-3.852-3.853v-73.293    C366.254,136.787,367.978,135.064,370.105,135.064z M329.514,98.105h16.539c2.128,0,3.852,1.722,3.852,3.852v110.254    c0,2.099-1.724,3.853-3.852,3.853h-16.539c-2.131,0-3.854-1.754-3.854-3.853V101.957C325.66,99.827,327.383,98.105,329.514,98.105    z M288.919,113.014h16.538c2.131,0,3.854,1.723,3.854,3.854v95.344c0,2.099-1.723,3.853-3.854,3.853h-16.538    c-2.13,0-3.852-1.754-3.852-3.853v-95.344C285.067,114.736,286.789,113.014,288.919,113.014z M248.327,153.231h16.539    c2.128,0,3.852,1.724,3.852,3.853v55.127c0,2.099-1.724,3.853-3.852,3.853h-16.539c-2.13,0-3.854-1.754-3.854-3.853v-55.127    C244.473,154.955,246.196,153.231,248.327,153.231z M207.732,98.105h16.539c2.13,0,3.854,1.722,3.854,3.852v110.254    c0,2.099-1.723,3.853-3.854,3.853h-16.539c-2.13,0-3.852-1.754-3.852-3.853V101.957C203.88,99.827,205.602,98.105,207.732,98.105z     M167.14,135.064h16.537c2.13,0,3.854,1.723,3.854,3.854v73.293c0,2.099-1.723,3.853-3.854,3.853H167.14    c-2.099,0-3.854-1.754-3.854-3.853v-73.293C163.286,136.787,165.041,135.064,167.14,135.064z M126.545,160.092h16.539    c2.13,0,3.852,1.723,3.852,3.852v48.268c0,2.099-1.721,3.853-3.852,3.853h-16.539c-2.099,0-3.852-1.754-3.852-3.853v-48.268    C122.693,161.814,124.446,160.092,126.545,160.092z M101.236,221.889h310.717c2.131,0,3.852,1.725,3.852,3.854v33.482    c0,2.1-1.721,3.822-3.852,3.822h-20.014h-0.096h-0.093h-16.694h-0.127h-0.093h-16.694h-0.096h-0.124h-16.694h-0.096h-0.092    h-16.727h-0.096h-0.092h-16.695h-0.126h-0.093h-16.695h-0.095h-0.125h-16.694h-0.095h-0.093h-16.727h-0.095h-0.093h-16.695h-0.126    h-0.093h-16.695h-0.095h-0.125h-16.695h-0.188h-16.727h-0.188h-16.695h-0.219h-16.695h-0.219h-16.695h-0.188H121.44h-0.095h-0.093    h-20.017c-2.128,0-3.852-1.723-3.852-3.822v-33.482C97.385,223.613,99.108,221.889,101.236,221.889z M438.014,278.145V67.879    H75.208v210.266H438.014z M301.543,357.609h-89.019l-17.792,67.593h124.601L301.543,357.609z M379.973,432.907h-190.22h-0.093    h-55.535v10.618h245.847V432.907z M46.299,468.646c-2.13,0-3.854-1.723-3.854-3.821c0-2.13,1.723-3.853,3.854-3.853h284.844    c2.13,0,3.853,1.723,3.853,3.853c0,2.099-1.723,3.821-3.853,3.821H46.299z M213.089,485.999c-2.13,0-3.854-1.724-3.854-3.854    s1.723-3.853,3.854-3.853h197.109c2.131,0,3.854,1.723,3.854,3.853s-1.723,3.854-3.854,3.854H213.089z M430.371,485.999    c-2.099,0-3.821-1.724-3.821-3.854s1.723-3.853,3.821-3.853h24.651c2.128,0,3.852,1.723,3.852,3.853s-1.724,3.854-3.852,3.854    H430.371z M35.084,485.465c-2.128,0-3.852-1.722-3.852-3.852s1.723-3.854,3.852-3.854h93.404c2.099,0,3.852,1.724,3.852,3.854    s-1.753,3.852-3.852,3.852H35.084z M451.169,33.707c-2.131,0-3.854-1.724-3.854-3.854s1.723-3.852,3.854-3.852    c8.112,0,15.505,3.35,20.892,8.707c5.355,5.387,8.707,12.779,8.707,20.892v48.36c0,2.131-1.753,3.854-3.852,3.854    c-2.13,0-3.854-1.723-3.854-3.854v-48.36c0-6.014-2.474-11.495-6.421-15.442C462.664,36.181,457.182,33.707,451.169,33.707z     M408.1,229.595H105.09v25.778h12.404v-13.594c0-2.13,1.721-3.853,3.852-3.853s3.854,1.723,3.854,3.853v13.594h9.209v-13.594    c0-2.13,1.721-3.853,3.852-3.853s3.854,1.723,3.854,3.853v13.594h9.207v-13.594c0-2.13,1.723-3.853,3.854-3.853    c2.099,0,3.854,1.723,3.854,3.853v13.594h9.177v-13.594c0-2.13,1.753-3.853,3.852-3.853c2.13,0,3.854,1.723,3.854,3.853v13.594    h9.209v-13.594c0-2.13,1.721-3.853,3.852-3.853s3.854,1.723,3.854,3.853v13.594h9.209v-13.594c0-2.13,1.721-3.853,3.852-3.853    s3.854,1.723,3.854,3.853v13.594h9.209v-13.594c0-2.13,1.721-3.853,3.852-3.853c2.099,0,3.854,1.723,3.854,3.853v13.594h9.177    v-13.594c0-2.13,1.753-3.853,3.852-3.853c2.13,0,3.854,1.723,3.854,3.853v13.594h9.209v-13.594c0-2.13,1.722-3.853,3.852-3.853    s3.854,1.723,3.854,3.853v13.594h9.209v-13.594c0-2.13,1.722-3.853,3.852-3.853s3.854,1.723,3.854,3.853v13.594h9.209v-13.594    c0-2.13,1.721-3.853,3.852-3.853c2.099,0,3.854,1.723,3.854,3.853v13.594h9.177v-13.594c0-2.13,1.753-3.853,3.853-3.853    c2.13,0,3.853,1.723,3.853,3.853v13.594h9.209v-13.594c0-2.13,1.723-3.853,3.852-3.853c2.131,0,3.854,1.723,3.854,3.853v13.594    h9.209v-13.594c0-2.13,1.723-3.853,3.852-3.853c2.131,0,3.854,1.723,3.854,3.853v13.594h9.209v-13.594    c0-2.13,1.722-3.853,3.852-3.853c2.1,0,3.854,1.723,3.854,3.853v13.594h9.209v-13.594c0-2.13,1.722-3.853,3.82-3.853    c2.131,0,3.854,1.723,3.854,3.853v13.594h9.209v-13.594c0-2.13,1.722-3.853,3.852-3.853c2.131,0,3.854,1.723,3.854,3.853v13.594    H408.1V229.595z" style="fill-rule:evenodd;clip-rule:evenodd;"></path></g></g><g id="Layer_1"></g>
                            </svg>
                        </span>
                        <span class="nav-link-text">Dashboard</span>
                    </div>
                </a>
            </li>
            <li class="nav-item" id="liHomeSlider">
                <a class="nav-link" href="@Url.Content("~/HomeSlider/index")">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon">
                            <svg enable-background="new 0 0 28 29" height="20px" id="Capa_1" version="1.1" viewBox="0 0 30 30" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill="currentColor" d="M24.3,11.8c-0.1-0.2-0.4-0.3-0.6-0.3c-0.3,0-0.5,0.1-0.6,0.3l-3.7,5.1l-2.1-2.5c-0.1-0.2-0.4-0.3-0.6-0.3  c-0.2,0-0.4,0.1-0.6,0.3L9,23.2c-0.3,0.3-0.2,0.8,0.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.6-0.3l6.5-8.1l2.2,2.6  c0.1,0.2,0.4,0.3,0.6,0.3c0.2,0,0.4-0.1,0.6-0.3l3.6-5l2.4,3.5c0.2,0.3,0.7,0.4,1,0.2c0.3-0.2,0.4-0.7,0.2-1L24.3,11.8z M5.5,5.2H23  c0.4,0,0.8-0.3,0.8-0.8S23.4,3.7,23,3.7H5.5c-3.4,0-5.4,2-5.4,5.4v10.3c0,0.4,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8V9.1  C1.6,6.5,2.9,5.2,5.5,5.2z M26.1,5.6H6c-2.1,0-3.8,1.7-3.8,3.8v13.2c0,2.1,1.7,3.8,3.8,3.8h20.1c2.1,0,3.8-1.7,3.8-3.8V9.4  C29.9,7.3,28.2,5.6,26.1,5.6z M28.4,22.6c0,1.2-1,2.3-2.3,2.3H6c-1.2,0-2.3-1-2.3-2.3V9.4c0-1.2,1-2.3,2.3-2.3h20.1  c1.2,0,2.3,1,2.3,2.3V22.6z M12.7,13.5c0-1.6-1.3-3-3-3c-1.6,0-3,1.3-3,3c0,1.6,1.3,3,3,3C11.4,16.5,12.7,15.1,12.7,13.5z M8.3,13.5  c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5C9,15,8.3,14.3,8.3,13.5z" />

<<<<<<< HEAD


=======
>>>>>>> b5d7faea151cbc4f426b02daf9ed1be2956aee56
                            </svg>
                        </span>
                        <span class="nav-link-text">Home Slider</span>
                    </div>
                </a>
            </li>
<<<<<<< HEAD

            <li class="nav-item" id="liCMS">
                <a class="nav-link" href="@Url.Content("~/cms/index")">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon">
                            <svg id="Layer_3" enable-background="new 0 0 64 64" height="20" viewBox="0 0 64 64" width="20" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m60 11h-17v-1c0-.553-.447-1-1-1h-1.521c-.091-.259-.193-.512-.307-.758l1.535-1.535c.391-.391.391-1.023 0-1.414l-3-3c-.391-.391-1.023-.391-1.414 0l-1.535 1.535c-.246-.113-.499-.216-.758-.307v-1.521c0-.553-.447-1-1-1h-4c-.553 0-1 .447-1 1v1.521c-.259.091-.512.193-.758.307l-1.535-1.535c-.391-.391-1.023-.391-1.414 0l-3 3c-.391.391-.391 1.023 0 1.414l1.535 1.535c-.113.246-.216.499-.307.758h-1.521c-.553 0-1 .447-1 1v1h-17c-1.654 0-3 1.346-3 3v32c0 1.654 1.346 3 3 3h21v6h-3c-1.654 0-3 1.346-3 3v4c0 .553.447 1 1 1h24c.553 0 1-.447 1-1v-4c0-1.654-1.346-3-3-3h-3v-6h21c1.654 0 3-1.346 3-3v-32c0-1.654-1.346-3-3-3zm-37 0h1.262c.456 0 .854-.309.968-.749.157-.607.389-1.182.688-1.707.223-.392.156-.884-.162-1.202l-1.342-1.342 1.586-1.586 1.342 1.342c.318.318.81.383 1.202.162.525-.3 1.1-.531 1.707-.688.44-.115.749-.512.749-.968v-1.262h2v1.262c0 .456.309.854.749.968.607.157 1.182.389 1.707.688.392.221.883.156 1.202-.162l1.342-1.342 1.586 1.586-1.342 1.342c-.318.318-.385.811-.162 1.202.3.525.531 1.1.688 1.707.115.44.512.749.968.749h1.262v2h-1.262c-.456 0-.854.309-.968.749-.157.607-.389 1.182-.688 1.707-.223.392-.156.884.162 1.202l1.342 1.342-1.586 1.586-1.342-1.342c-.319-.319-.811-.385-1.202-.162-.525.3-1.1.531-1.707.688-.44.115-.749.512-.749.968v1.262h-2v-1.262c0-.456-.309-.854-.749-.968-.607-.157-1.182-.389-1.707-.688-.393-.223-.884-.157-1.202.162l-1.342 1.342-1.586-1.586 1.342-1.342c.318-.318.385-.811.162-1.202-.3-.525-.531-1.1-.688-1.707-.115-.44-.512-.749-.968-.749h-1.262zm-19 2h17v1c0 .553.447 1 1 1h1.521c.091.259.193.512.307.758l-1.535 1.535c-.391.391-.391 1.023 0 1.414l3 3c.391.391 1.023.391 1.414 0l1.535-1.535c.246.113.499.216.758.307v1.521c0 .553.447 1 1 1h4c.553 0 1-.447 1-1v-1.521c.259-.091.512-.193.758-.307l1.535 1.535c.391.391 1.023.391 1.414 0l3-3c.391-.391.391-1.023 0-1.414l-1.535-1.535c.113-.246.216-.499.307-.758h1.521c.553 0 1-.447 1-1v-1h17c.552 0 1 .448 1 1v25h-58v-25c0-.552.448-1 1-1zm39 45v3h-22v-3c0-.552.448-1 1-1h20c.552 0 1 .448 1 1zm-6-3h-10v-6h10zm23-8h-56c-.552 0-1-.448-1-1v-5h58v5c0 .552-.448 1-1 1z" /><path fill="currentColor" d="m57 43h2v2h-2z" /><path fill="currentColor" d="m53 43h2v2h-2z" /><path fill="currentColor" d="m5 43h4v2h-4z" /><path fill="currentColor" d="m32 17c2.757 0 5-2.243 5-5s-2.243-5-5-5-5 2.243-5 5 2.243 5 5 5zm0-8c1.654 0 3 1.346 3 3s-1.346 3-3 3-3-1.346-3-3 1.346-3 3-3z" /><path fill="currentColor" d="m6 37h26c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1h-26c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1zm1-4h24v2h-24z" /><path fill="currentColor" d="m35 31h24v2h-24z" /><path fill="currentColor" d="m35 35h24v2h-24z" /><path fill="currentColor" d="m6 29h52c.553 0 1-.447 1-1v-12c0-.553-.447-1-1-1h-14v2h13v10h-50v-10h13v-2h-14c-.553 0-1 .447-1 1v12c0 .553.447 1 1 1z" /></svg>
                        </span>
                        <span class="nav-link-text">CMS</span>
                    </div>
                </a>
            </li>
            <li class="nav-item" id="liWebsiteSetting">
                <a class="nav-link" href="@Url.Content("~/faq/index")">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon">
                            <svg enable-background="new 0 0 28 29" height="20px" version="1.1" viewBox="0 0 32 32" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg">
                            <g id="background"><rect fill="none" height="20" width="20" /></g><g id="browser_x5F_settings">
                            <path fill="currentColor" d="M28,10H18v2h10V10z M14,10H4v10h10V10z M32,0H0v28h15.518c1.614,2.411,4.361,3.999,7.482,4c4.971-0.002,8.998-4.029,9-9   c0-0.362-0.027-0.718-0.069-1.069L32,22V0z M10,2h12v2H10V2z M6,2h2v2H6V2z M2,2h2v2H2V2z M23,29.883   c-3.801-0.009-6.876-3.084-6.885-6.883c0.009-3.801,3.084-6.876,6.885-6.885c3.799,0.009,6.874,3.084,6.883,6.885   C29.874,26.799,26.799,29.874,23,29.883z M29.999,17.348c-0.57-0.706-1.243-1.324-1.999-1.83V14h-4.99c-0.003,0-0.007,0-0.01,0   s-0.007,0-0.01,0H18v1.516c-2.412,1.614-4,4.361-4,7.483c0,1.054,0.19,2.061,0.523,3H2V6h27.999V17.348z M30,4h-4V2h4V4z" /><path d="M28,24v-2.001h-1.663c-0.063-0.212-0.145-0.413-0.245-0.606l1.187-1.187l-1.416-1.415l-1.165,1.166   c-0.22-0.123-0.452-0.221-0.697-0.294V18h-2v1.662c-0.229,0.068-0.446,0.158-0.652,0.27l-1.141-1.14l-1.415,1.415l1.14,1.14   c-0.112,0.207-0.202,0.424-0.271,0.653H18v2h1.662c0.073,0.246,0.172,0.479,0.295,0.698l-1.165,1.163l1.413,1.416l1.188-1.187   c0.192,0.101,0.394,0.182,0.605,0.245V28H24v-1.665c0.229-0.068,0.445-0.158,0.651-0.27l1.212,1.212l1.414-1.416l-1.212-1.21   c0.111-0.206,0.201-0.423,0.27-0.651H28z M22.999,24.499c-0.829-0.002-1.498-0.671-1.501-1.5c0.003-0.829,0.672-1.498,1.501-1.501   c0.829,0.003,1.498,0.672,1.5,1.501C24.497,23.828,23.828,24.497,22.999,24.499z" /></g>
                            </svg>
                        </span>
                        <span class="nav-link-text">FAQ</span>
                    </div>
                </a>
            </li>
            <li class="nav-item" id="liWebsiteSetting">
                <a class="nav-link" href="@Url.Content("~/WebsiteSetting/index")">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon">
                            <svg enable-background="new 0 0 28 29" height="20px" version="1.1" viewBox="0 0 32 32" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg">
                            <g id="background"><rect fill="none" height="20" width="20" /></g><g id="browser_x5F_settings">
                            <path fill="currentColor" d="M28,10H18v2h10V10z M14,10H4v10h10V10z M32,0H0v28h15.518c1.614,2.411,4.361,3.999,7.482,4c4.971-0.002,8.998-4.029,9-9   c0-0.362-0.027-0.718-0.069-1.069L32,22V0z M10,2h12v2H10V2z M6,2h2v2H6V2z M2,2h2v2H2V2z M23,29.883   c-3.801-0.009-6.876-3.084-6.885-6.883c0.009-3.801,3.084-6.876,6.885-6.885c3.799,0.009,6.874,3.084,6.883,6.885   C29.874,26.799,26.799,29.874,23,29.883z M29.999,17.348c-0.57-0.706-1.243-1.324-1.999-1.83V14h-4.99c-0.003,0-0.007,0-0.01,0   s-0.007,0-0.01,0H18v1.516c-2.412,1.614-4,4.361-4,7.483c0,1.054,0.19,2.061,0.523,3H2V6h27.999V17.348z M30,4h-4V2h4V4z" /><path d="M28,24v-2.001h-1.663c-0.063-0.212-0.145-0.413-0.245-0.606l1.187-1.187l-1.416-1.415l-1.165,1.166   c-0.22-0.123-0.452-0.221-0.697-0.294V18h-2v1.662c-0.229,0.068-0.446,0.158-0.652,0.27l-1.141-1.14l-1.415,1.415l1.14,1.14   c-0.112,0.207-0.202,0.424-0.271,0.653H18v2h1.662c0.073,0.246,0.172,0.479,0.295,0.698l-1.165,1.163l1.413,1.416l1.188-1.187   c0.192,0.101,0.394,0.182,0.605,0.245V28H24v-1.665c0.229-0.068,0.445-0.158,0.651-0.27l1.212,1.212l1.414-1.416l-1.212-1.21   c0.111-0.206,0.201-0.423,0.27-0.651H28z M22.999,24.499c-0.829-0.002-1.498-0.671-1.501-1.5c0.003-0.829,0.672-1.498,1.501-1.501   c0.829,0.003,1.498,0.672,1.5,1.501C24.497,23.828,23.828,24.497,22.999,24.499z" /></g>
                            </svg>
                        </span>
                        <span class="nav-link-text">Website Setting</span>
=======
            <li class="nav-item" id="liHomeSlider">
                <a class="nav-link" href="@Url.Content("~/treatment/index")">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon">
                            <svg enable-background="new 0 0 28 29" height="20px" id="Capa_1" version="1.1" viewBox="0 0 30 30" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill="currentColor" d="M24.3,11.8c-0.1-0.2-0.4-0.3-0.6-0.3c-0.3,0-0.5,0.1-0.6,0.3l-3.7,5.1l-2.1-2.5c-0.1-0.2-0.4-0.3-0.6-0.3  c-0.2,0-0.4,0.1-0.6,0.3L9,23.2c-0.3,0.3-0.2,0.8,0.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.6-0.3l6.5-8.1l2.2,2.6  c0.1,0.2,0.4,0.3,0.6,0.3c0.2,0,0.4-0.1,0.6-0.3l3.6-5l2.4,3.5c0.2,0.3,0.7,0.4,1,0.2c0.3-0.2,0.4-0.7,0.2-1L24.3,11.8z M5.5,5.2H23  c0.4,0,0.8-0.3,0.8-0.8S23.4,3.7,23,3.7H5.5c-3.4,0-5.4,2-5.4,5.4v10.3c0,0.4,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8V9.1  C1.6,6.5,2.9,5.2,5.5,5.2z M26.1,5.6H6c-2.1,0-3.8,1.7-3.8,3.8v13.2c0,2.1,1.7,3.8,3.8,3.8h20.1c2.1,0,3.8-1.7,3.8-3.8V9.4  C29.9,7.3,28.2,5.6,26.1,5.6z M28.4,22.6c0,1.2-1,2.3-2.3,2.3H6c-1.2,0-2.3-1-2.3-2.3V9.4c0-1.2,1-2.3,2.3-2.3h20.1  c1.2,0,2.3,1,2.3,2.3V22.6z M12.7,13.5c0-1.6-1.3-3-3-3c-1.6,0-3,1.3-3,3c0,1.6,1.3,3,3,3C11.4,16.5,12.7,15.1,12.7,13.5z M8.3,13.5  c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5C9,15,8.3,14.3,8.3,13.5z" />

                            </svg>
                        </span>
                        <span class="nav-link-text">Treatments</span>
>>>>>>> b5d7faea151cbc4f426b02daf9ed1be2956aee56
                    </div>
                </a>
            </li>
            <li class="nav-item" id="liExceptionLog">
                <a class="nav-link" href="@Url.Content("~/ExceptionLog/index")">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon">
                            <svg enable-background="new 0 0 28 29" height="20px" version="1.1" viewBox="0 0 32 32" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Files_Folder40" /><g id="Files_Folder39" /><g id="Files_Folder38" /><g id="Files_Folder37" /><g id="Files_Folder36" /><g id="Files_Folder35" /><g id="Files_Folder34" /><g id="Files_Folder33" /><g id="Files_Folder32" /><g id="Files_Folder31" /><g id="Files_Folder30" /><g id="Files_Folder29" /><g id="Files_Folder28" /><g id="Files_Folder27" /><g id="Files_Folder26" /><g id="Files_Folder25" /><g id="Files_Folder24" /><g id="Files_Folder23" /><g id="Files_Folder22" /><g id="Files_Folder21" /><g id="Files_Folder20" /><g id="Files_Folder19" /><g id="Files_Folder18" /><g id="Files_Folder17" /><g id="Files_Folder16" /><g id="Files_Folder15" /><g id="Files_Folder14" /><g id="Files_Folder13" /><g id="Files_Folder12" /><g id="Files_Folder11" /><g id="Files_Folder10" /><g id="Files_Folder09" /><g id="Files_Folder08" /><g id="Files_Folder07" /><g id="Files_Folder06"><g><g>
                            <path d="M26.76,8.35L26.46,8L21,1.63l-0.24-0.28C20.57,1.13,20.29,1,20,1h-1H6C5.45,1,5,1.45,5,2v28     c0,0.55,0.45,1,1,1h20c0.55,0,1-0.45,1-1V10V9C27,8.76,26.92,8.53,26.76,8.35z" fill="currentColor" /></g><g><g>
                            <path fill="#fff" d="M27,9v1h-7c-0.55,0-1-0.45-1-1V1h1c0.29,0,0.57,0.13,0.76,0.35L21,1.63L26.46,8l0.3,0.35      C26.92,8.53,27,8.76,27,9z" /></g></g></g><g>
                            <path d="M16,22c-0.5522,0-1-0.4478-1-1v-8c0-0.5522,0.4478-1,1-1s1,0.4478,1,1v8C17,21.5522,16.5522,22,16,22z" fill="#fff" /></g><g>
                            <path d="M16,26c-0.5522,0-1-0.4478-1-1v-1c0-0.5522,0.4478-1,1-1s1,0.4478,1,1v1C17,25.5522,16.5522,26,16,26z" fill="#fff" /></g></g>
                            <g id="Files_Folder05" /><g id="Files_Folder04" /><g id="Files_Folder03" /><g id="Files_Folder02" /><g id="Files_Folder01" />



<<<<<<< HEAD




=======
>>>>>>> b5d7faea151cbc4f426b02daf9ed1be2956aee56
                            </svg>
                        </span>
                        <span class="nav-link-text">Exception Log</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
