@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Ling Zhou, MD | Log out</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/theme.css")" />
    <link href="@Url.Content("~/assets/css/custom.css")" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon_cp.ico")">
</head>
<body class="bg-white">
    <main class="main" id="top">
        <div class="container-fluid">
            <div class="row min-vh-100 bg-100">
                <div class="col-6 d-none d-lg-block">
                    <div class="bg-holder" style="background-image:url(../../assets/images/19.jpg);"></div>
                    <!--/.bg-holder-->
                </div>
                <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
                    <div class="row justify-content-center no-gutters">
                        <div class="col-lg-9 col-xl-8 col-xxl-6">
                            <div class="card">
                                <div class="card-header bg-circle-shape text-center p-2">
                                    <span class="text-white text-sans-serif font-weight-extra-bold fs-4 z-index-1 position-relative">
                                        <img src="@Url.Content("~/assets/images/hd-logo.png")" alt="" width="50%" class="mr-2" style="margin-top: -5px;">
                                    </span>
                                </div>
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <img class="d-block mx-auto mb-4" src="@Url.Content("~/assets/images/rocket.png")" alt="shield" width="70" />
                                        <h3>See you again!</h3>
                                        <p>Thanks for using Ling Zhou, MD. You are <br />now successfully signed out.</p><a class="btn btn-primary btn-sm mt-3" href="@Url.Content("~/Account/Login")"><span class="fas fa-chevron-left mr-1" data-fa-transform="shrink-4 down-1"></span>Return to Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="@Url.Content("~/assets/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/plugins/stickyfilljs/stickyfill.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/sticky-kit/sticky-kit.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/is_js/is.min.js")"></script>
    <script src="@Url.Content("~/assets/js/theme.js")"></script>
    <script src="@Url.Content("~/assets/plugins/jquery-validation-1.16.0/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/pages/login.js")" type="text/javascript"></script>
</body>
</html>