@model Ling.Domains.Entities.FAQ
@using Ling.Common
@{
    string title = Model.ID > 0 ? "Ling Zhou, MD | FAQ - Edit " : "Ling Zhou, MD | FAQ - Add";
    ViewBag.Title = title;
}
@section PageCss{
    <link href="@Url.Content("~/assets/plugins/summernote/summernote.css")" rel="stylesheet" />
    <style type="text/css">
        .input-group > .form-control {
            width: 51% !important;
        }
    </style>
}

<div class="card mb-3">
    <div class="card-body rounded-soft bg-gradient">
        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="row text-white align-items-center no-gutters">
            <div class="col">
                <h4 class="text-white mb-0">Manage FAQ</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <i class="fa fa-home"></i>
                            <a href="@Url.Content("~/home")">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Content("~/faq")">FAQ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@(Model.ID > 0 ? "Edit" : "Add")</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @Html.Partial("_OperationMessage")
    </div>
</div>

<div class="row no-gutters">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">@(Model.ID > 0 ? "Edit" : "Add") FAQ</h5>
            </div>
            <div class="card-body bg-light">
                @using (Html.BeginForm("Manage", "FAQ", FormMethod.Post, new { id = "frm_FAQManage", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.ID)

                    <div class="form-group row">
                        <label for="txtPageKey" class="col-sm-2 col-form-label text-right">Question</label>
                        <div class="col-sm-8">
                            <input type="text" name="Question" id="txtquestion" class="form-control" maxlength="100" value="@Model.Question" placeholder="Question" />
                        </div>
                    </div>

                    <div class="form-group row" id="dvAnswer">
                        <label for="txtAnswer" class="col-sm-2 col-form-label text-right">Answer</label>
                        <div class="col-sm-10">
                            <textarea name="Answer" class="form-control summernote" id="txtAnswer">@Model.Answer</textarea>
                            <span id="spnSummernoteError" class="text-error-validation text-danger" style="display:none;font-size: 85%;color: #e63757;">Please enter answer</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right"></label>
                        <div class="editToolbar col-sm-10 col-offset-3">
                            <button type="button" id="uploadImage" class="image btn btn-sm btn-primary">Insert image</button>
                            <button type="button" id="uploadVideo" class="video btn btn-sm btn-success">Insert video</button>
                            <button type="button" id="uploadFile" class="file btn btn-sm btn-info">Attach a file </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="IsActive" class="col-sm-2 col-form-label text-right">Active?</label>
                        <div class="col-sm-4" style="margin-top:6px;">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="chkIsActive" type="checkbox" name="IsActive" @(Model.IsActive ? "checked" : "" )>
                                <label class="custom-control-label" for="chkIsActive"></label>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer text-right">
                        <div class="col-xs-12">
                            <a href="@Url.Content("~/faq")" class="btn btn-ling-cancel btn-sm mr-2">Cancel</a>
                            <button id="btnSave" type="button" class="btn btn-ling-primary btn-sm">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Html.Partial("_FileUploadSnippet")

@section PageScript{
    <script src="@Url.Content("~/assets/js/file-input.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/plugins/jquery-validation-1.16.0/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/plugins/jquery-validation-1.16.0/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/plugins/summernote/summernote.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/pages/fileuploadsnippet.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/pages/faqmanage.js")"></script>
}

